openApi:
  - source: https://developers.yousign.com/openapi/60c6f824bd87e600229f054b
    module: yousign
    modelTags:
      - client-api
    endpointTags:
      - client-api
    domains:
      - type: uuid
        domain: CODE
      - type: uri
        domain: HREF
      - type: uri255
        domain: HREF
      - type: date-time
        domain: LIBELLE_100
      - type: string
        domain: LIBELLE_100
      - type: email
        domain: MAIL
      - type: integer
        domain: NUMBER
      - type: int32
        domain: NUMBER
      - type: number
        domain: NUMBER
      - type: string255
        domain: LIBELLE_255
      - type: string128
        domain: LIBELLE_255
      - type: string500
        domain: LIBELLE_1000
      - type: string64
        domain: LIBELLE_255
      - type: string32
        domain: LIBELLE_255
      - type: string5000
        domain: LIBELLE_1000
      - type: string150
        domain: LIBELLE_255
      - type: boolean
        domain: BOOLEAN
      - type: list
        domain: LIST
      - type: -array
        domain: LIST
      - type: binary
        domain: BYTE_ARRAY
      - type: date
        domain: LIBELLE_100
      - type: uuid-array
        domain: LIBELLE_1000
      - type: object
        domain: LIBELLE_1000
      - type: object-array
        domain: LIBELLE_1000
      - type: string-array
        domain: LIBELLE_1000
      - name: fields
        domain: LIBELLE_1000
      - name: signers
        domain: LIBELLE_1000
      - type: string80
        domain: LIBELLE_100
      - type: string200
        domain: LIBELLE_255
      - type: map
        domain: LIBELLE_1000