# yaml-language-server: $schema=./topmodel.config.schema.json
---
app: spring-yousign-api
jpa:
  - tags:
      - client-api
    variables:
      rootPackage: io.github.kleecontrib.spring
    outputDirectory: ./
    dtosPath: "src/main/javagen:{rootPackage}.model.dtos.{module}"
    enumsPath: "src/main/javagen:{rootPackage}.model.enums.{module}"
    resourcesPath: "src/main/resources/i18n/model"
    apiPath: src/main/javagen:{rootPackage}.client.{module}
    apiGeneration: Client
    persistenceMode: jakarta
    